body {
  background-color: white;
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Kaisei Tokumin', serif;
}

h1 {
  margin: 50px auto 0 auto;
  width: 20%;
  font-family: 'Tangerine', cursive;
  font-size: 600%;
  color: #CC6E5690;
}

h2 {
  font-family: 'Noto Sans KR', sans-serif;
}

h3 {
  font-family: 'Noto Sans KR', sans-serif;
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-color: #12339910;
  border-width: 25px;
  width: 15%;
  margin: 100px auto 120px;

}

button {
  background: #CC6E5660;
  margin-bottom: 10px;
  font-family: "Arial", normal;
  font-weight: bold;
  font-size: 1.25em;
  color: #2F2F2F;
  border-radius: 7px;
  padding: 10px;
  border-color: #2F2F2F20;
}

a {
  margin: auto 10px;
}

.top-container {
  background-color: #CBF3FF;
  color: black;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background: linear-gradient(#CBF3FF, #FFD9C4);
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 400px;
}

.bottom-container {
  background-color: #FFD9C4;
}

.cloud-1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud-2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
}


.profilePic {
  margin: auto;
  display: block;
  width: 250px;
  height: 250px;
}

.leftImg {
  float: left;
  /* margin: auto;
  display: block; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-right: 50px;
  margin-top: 10px;
}

.rightImg {
  float: right;
  /* margin: auto; */
  /* display: block; */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-left: 50px;
}

.skill-row {
  text-align: justify;
}

.contact-me {
  text-align: justify;
  margin: 0;
}

.bottom-container {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}

#first_sentence {
  display: block;
  margin-bottom: 0;
}

#second_sentence {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: #5672CC50;
}

#skillOne {
  margin-left: 50px;
}

#skillTwo {
  margin-right: 50px;
}
